@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

:root {
    --font-style: 'Nunito Sans', sans-serif;
}

* {
    box-sizing : border-box;
}

body{
    background: #EB455F;
    font-family: var(--font-style);
    display: flex;
    justify-content: center;
    
}

.login-box{
    position: absolute;
    width: 900px;
    padding: 40px;
    margin-top: 80px;
    background: #2B3467;
    border-radius: 10px;
}

.login-box h2 {
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box input{
    position: relative;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: relative;   
    left: 0;
    top: -60px;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .2s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -85px;
    left: 0;
    color: #8F7CEC;
    font-size: 12px;
}

.type-one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


a,#submit {
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    border: 1px solid #2B3467;
    margin: auto;
    background-color: transparent;
}

a:hover ,#submit:hover{
    background: #2B3467;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #2B3467, 0 0 25px #2B3467, 0 0 50px #2B3467, 0 0 100px #2B3467;
}

.button-form {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}